<!-- start of product detail -->
<section class="detail">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="product-gallery">
                    <div class="product-image-detail">
                        <img src="https://product.hstatic.net/1000219425/product/vodaihoatietvonamnu_2a753aa757374b49a20b4d5dc973877b_master.jpg" alt="" class="product-image-feature">
                    </div>
                    <div class="product-thumbs">
                        <div class="sliderProduct">
                            <ul id="slide-product">
                                <li class="product-thumb active col-md-3 col-sm-6 sol-xs-6">
                                    <a href="">
                                        <img src="https://product.hstatic.net/1000219425/product/vodaivohoatiettoanhoavomauxanhlavomautrang_44289a5f25954ed1ab45090ff8149d85_master.jpg" alt="">
                                    </a>
                                </li>
                                <li class="product-thumb col-md-3 col-sm-6 sol-xs-6">
                                    <a href="">
                                        <img src="https://product.hstatic.net/1000219425/product/vodaihinhvonamnu_c81758a4743f4d9eac389ddd7896c013_master.jpg" alt="">
                                    </a>
                                </li>
                                <li class="product-thumb col-md-3 col-sm-6 sol-xs-6">
                                    <a href="">
                                        <img src="https://product.hstatic.net/1000219425/product/vodaikhoimauvonamnu_733ea74b75a64b00b939173cf5947081_master.jpg" alt="">
                                    </a>
                                </li>
                                <li class="product-thumb col-md-3 col-sm-6 sol-xs-6">
                                    <a href="">
                                        <img src="https://product.hstatic.net/1000219425/product/vodaivohoatiettoanhoavomauxanhla_dbae011655284ff889a2be11dd905aaa_master.jpg" alt="">
                                    </a>
                                </li>
                                <li class="product-thumb col-md-3 col-sm-6 sol-xs-6">
                                    <a href="">
                                        <img src="https://product.hstatic.net/1000219425/product/vodaihoatietlybiavonamnu_e3478e68f000434e8036e9729062d2ad_master.jpg" alt="">
                                    </a>
                                </li>
                                <li class="product-thumb col-md-3 col-sm-6 sol-xs-6">
                                    <a href="">
                                        <img src="https://product.hstatic.net/1000219425/product/vodaihoatietbanhsinhnhatvonamnu_8cec834ce6e74f2eb4a573c21dbf2c58_master.jpg" alt="">
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                        <button class="pre-next slide-prev" (click)="transThumb($event, 'slide-prev')">
                <i class="fas fa-chevron-left"></i>
              </button>
                        <button class="pre-next slide-next" (click)="transThumb($event, 'slide-next')">
                <i class="fas fa-chevron-right"></i>
              </button>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 product-information">
                <div class="breadcrumb-content">
                    <ul>
                        <li>
                            <a href="Home.html">Trang chủ</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">Tất họa tiết</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">Hình học</a>
                        </li>
                    </ul>
                </div>
                <div class="product-title">
                    <h3>Vớ họa tiết toán học hóa học</h3>
                    <span class="productID">SKU: HT001</span>
                </div>
                <div class="product-price">
                    <span>79000đ</span>
                </div>
                <form action="" id="add-item-form">
                    <div class="select-wrapper">
                        <label for="">Màu sắc</label>
                        <span class="custom-dropdown">
                <select name="" id="product-option" class="product-option">
                  <option value="Trắng xanh">Trắng xanh</option>
                  <option value="Nâu mũi đen">Nâu mũi đen</option>
                  <option value="Khối màu">Khối màu</option>
                  <option value="Xanh trắng">Xanh trắng</option>
                  <option value="Ly bia">Ly bia</option>
                  <option value="Bánh sinh nhật">Bánh sinh nhật</option>
                </select>
              </span>
                    </div>
                    <div class="select-wrapper">
                        <label for="">Số lượng</label>
                        <input type="number" id="quantity" min="1" value="1">
                    </div>
                    <div class="add-to-cart">
                        <button id="add-to-cart">
                <span>Thêm vào giỏ hàng</span>
              </button>
                    </div>
                    <div class="buy-now">
                        <button id="buy-now">
                <span>Mua ngay</span>
              </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- end of product detail -->

<!-- start of product description -->
<section class="descript">
    <div class="container">
        <div class="tabbed-content">
            <ul class="product-tabs">
                <li class="description-tab active" (click)="clickTab($event, 'active', '0')">
                    <a id="description-tab">Mô tả</a>
                </li>
                <li class="additional-tab" (click)="clickTab($event, 'active', '1')">
                    <a id="additional-tab">Thông tin bổ sung</a>
                </li>
                <li class="reviews-tab" (click)="clickTab($event, 'active', '2')">
                    <a id="reviews-tab">Đánh giá</a>
                </li>
            </ul>
            <div class="tab-panels">
                <div class="panel entry-content active" id="tab-description">
                    <p>1. Thành phần chất liệu: 70% Cotton; 25% Nylon; 5% Elastane.<br> 2. Hướng dẫn bảo quản:<br> - Giặt ở nhiệt độ nước không quá 30 độ C.<br> - Không dùng nước tẩy (ví dụ: nước Javel).<br> - Phơi dọc sản phẩm sau khi giặt.<br> - Không
                        là (ủi) sản phẩm.<br> - Không giặt khô ở nhiệt độ cao (trên 50 độ C).<br> - Giặt riêng 3 lần đầu những sản phẩm có màu đậm.<br> 3. Size vớ: áp dụng theo kích thước bàn chân; phù hợp với hầu hết người Châu Á (230mm-285mm).
                        <br> 4. Đối tượng sử dụng:<br> - Nam/nữ giới văn phòng.<br> - Người tập thể thao.<br> - Giới trẻ.
                        <br> 5. Ship hàng nhanh chóng; đổi hàng dễ dàng.<br> + Hình ảnh mô tả chi tiết độ dài sản phẩm.<br> + Bảng Size giày tham khảo.
                    </p>
                </div>
                <div class="panel entry-content" id="tab-additional">
                    <table class="attributes">
                        <tbody>
                            <tr class="attributes-weight">
                                <th class="table-label">Trọng lượng</th>
                                <td class="table-value">0.5 kg</td>
                            </tr>
                            <tr class="attributes-dimension">
                                <th class="table-label">Kích thước</th>
                                <td class="table-value">10 x 5 x 2cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel entry-content" id="tab_reviews">
                    <div class="row" id="review">
                        <div class="col-md-7 col-sm-12" id="comment">
                            <span>Đánh giá</span>
                            <ol class="commentlist">
                                <li class="review">
                                    <div class="comment-container flex-row align-top">
                                        <div class="flex-col col-md-2 col-sm-12">
                                            <img src="https://secure.gravatar.com/avatar/5f728b973aac0f50575275b8da96f6dd?s=60&d=mm&r=g" alt="">
                                        </div>
                                        <div class="comment-text col-md-10 col-sm-12">
                                            <div class="star-rating">
                                                <a href="" class="star-5">5</a>
                                            </div>
                                            <div class="rating">
                                                <p>Đẹp quá trời quá đất Đẹp quá trời quá đất Đẹp quá trời quá đất Đẹp quá trời quá đất Đẹp quá trời quá đất Đẹp quá trời quá đất Đẹp quá trời quá đất Đẹp quá trời quá đất Đẹp quá trời quá đất Đẹp quá trời quá
                                                    đất </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-5 col-sm-12" id="review_form_container">
                            <div id="review_form">
                                <div id="respond" class="comment-respond">
                                    <span id="reply_inner">Thêm đánh giá</span>
                                    <form action="" id="comment_form" class="comment-form">
                                        <div class="comment-form-rating">
                                            <label for="">Đánh giá của bạn</label>
                                            <p class="stars">
                                                <span>
                                                    <a href="" class="star-1">1</a>
                                                    <a href="" class="star-2">2</a>
                                                    <a href="" class="star-3">3</a>
                                                    <a href="" class="star-4">4</a>
                                                    <a href="" class="star-5">5</a>
                                                  </span>
                                            </p>
                                        </div>
                                        <div class="comment-form-comment">
                                            <label for="">Nhận xét của bạn *</label>
                                            <textarea name="comment" id="comment" cols="45" rows="8" required></textarea>
                                        </div>
                                        <div class="comment-form-aumail">
                                            <p class="comment-form-author">
                                                <label for="">Tên của bạn *</label>
                                                <input type="text" id="author" name="author" value size="30">
                                            </p>
                                            <p class="comment-form-email">
                                                <label for="">Email của bạn *</label>
                                                <input type="text" id="email" name="author" value size="30" required>
                                            </p>
                                        </div>
                                        <div class="comment-form-submit">
                                            <input type="submit" id="submit" name="submit" value="Gửi" required>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of product description -->
<app-slide-deal></app-slide-deal>