<div id="myModalRegister" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title-login-form">Đăng Ký</div>
                <button type="button" class="close" data-dismiss="modal" id="closeRegister" (click)="cancel()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="login-form">
                    <form>
                        <label>Tài khoản hoặc địa chỉ email *</label>
                        <input type="text" placeholder="Tên đăng nhập hoặc email" />
                        <label>Mật khẩu *</label>
                        <input type="password" placeholder="Mật khẩu" />
                        <label>Nhập lại Mật khẩu *</label>
                        <input type="password" placeholder="Mật khẩu" />
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox" type="checkbox" checked>
                            <label for="checkbox">Nhớ tôi</label>
                        </div>
                        <button type="submit" value="Login">Đăng ký</button>
                        <button type="button" class="form-cancel" (click)="cancel()">Hủy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>