<section class="carousel">
    <div class="image-container" id="imgs">
        <img src="https://theme.hstatic.net/1000219425/1000577044/14/slideshow_1.jpg?v=311 " alt="first-image">
        <img src="https://theme.hstatic.net/1000219425/1000577044/14/slideshow_2.jpg?v=311 " alt="second-image">
    </div>
    <div class="buttons-container">
        <button class="arrow left-arrow" (click)="carousel($event, 'left')">
          <i class="fas fa-chevron-left"></i>
      </button>
        <button class="arrow right-arrow" (click)="carousel($event, 'right')">
          <i class="fas fa-chevron-right"></i>
      </button>
    </div>
</section>