img {
    width: 100%;
    object-fit: cover;
}

.slider {
    position: relative;
}

.product-cateogry-list {
    border-top: 1px solid #d6d3d3;
    margin-top: 30px;
    padding-top: 20px;
    position: relative;
}

.product-cateogry-list h3 {
    padding-bottom: 20px;
    font-weight: 550;
}

.content-deal {
    overflow: hidden;
    z-index: 99999;
    margin-bottom: 15px;
}

.callout {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    z-index: 99;
    transform: rotate(-30deg);
}

.badge-circle {
    height: 40px;
    border-radius: 40px;
    background-color: #D26E4B;
}

.badge-inner {
    margin-top: 10px;
}

.slide-deal {
    display: flex;
    transform: translateX(0);
    transition: transform 0.9s ease-in-out;
}

.product-block {
    overflow: hidden;
    width: 100;
    position: relative;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}

.product-img {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.first-image {
    position: relative;
    border-radius: 3px;
}

.second-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    transform: translateX(-101%);
}

.product-img:hover .first-image {
    transform: translateY(101%);
    transition: transform 0.8s ease;
}

.product-img:hover .second-image {
    transform: translateX(0%);
    transition: transform 0.8s ease;
}

.product-detail {
    display: block;
    margin: 10px 0 10px 0;
    padding: 0 10px;
    text-align: center;
    position: relative;
}

.product-detail h3 {
    margin-bottom: 0;
}

.product-detail h3 a {
    font-size: 14px !important;
    color: #0f0f0f;
}

.product-detail h3 a:hover {
    color: #f5a623;
    text-decoration: none;
}

.product-detail .pro-prices {
    color: #f5a623;
    font-family: Montserrat;
}

.deal-arrow {
    position: absolute;
    color: #334862;
    background-color: transparent;
    border: 2px solid #334862;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    opacity: 0.7;
    display: none;
}

.content-deal:hover .deal-arrow {
    display: block;
}

.deal-arrow:focus {
    outline: 0;
}

.deal-arrow:hover {
    opacity: 1;
    background-color: #fff;
}

.deal-right-arrow {
    right: calc(0%);
}