<footer>
    <div class="footer-area-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-box">
                        <h3>Giới thiệu về cửa hàng</h3>
                        <ul class="about-us">
                            <li>
                                <div class="media">
                                    <div class="media-body ">
                                        <p class="content">
                                            Cửa hàng vớ thời trang TPHCM. Cung cấp hàng ngàn mẫu mã vớ đẹp phù hợp với mọi lứa tuổi.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="media-body ">
                                        <i class="fa fa-map-marker" aria-hidden="true "></i>
                                        <p class="content">
                                            Địa chỉ: 78A Tô Vĩnh Diện, phường Linh Trung, tp Thủ Đức, tp Hồ Chí Minh.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="media-body ">
                                        <i class="fa fa-envelope" aria-hidden="true "></i>
                                        <p class="content">
                                            ShopTatXinh@gmail.com
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="media-body ">
                                        <i class="fa fa-phone" aria-hidden="true "></i>
                                        <p class="content">
                                            036.774.3222
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 ">
                    <div class="footer-box contact">
                        <h3>Liên hệ</h3>
                        <ul class="contact-categories">
                            <li>
                                <a href="# ">Cách thức mua hàng</a>
                            </li>
                            <li>
                                <a href="# ">Hình thức vận chuyển</a>
                            </li>
                            <li>
                                <a href="# ">Chính sách đổi trả</a>
                            </li>
                            <li>
                                <a href="# ">Chính sách bảo mật</a>
                            </li>
                            <li>
                                <a href="# ">Chính sách hoàn tiền</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 ">
                    <div class="footer-box footer-regist">
                        <h3>Đăng ký nhận tin</h3>
                        <div id="footer-regist-form" class="footer-regist-light">
                            <input type="email" class="footer-regist-input" placeholder="Nhập mail của bạn" required="">
                            <button class="btn-footer-regist">
                              <i class="fa fa-paper-plane " aria-hidden="true "></i>
                          </button>
                        </div>
                        <p class="footer-regist-p">Hãy nhập email của bạn vào đây để nhận tin!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 text-center">
                    <a href="index.html " class="footer-logo img-fluid ">
                        <img src="https://thoitrangshop.xyz/wp-content/uploads/2022/05/Baby-Shower-Template-1-1.png" alt="logo " class="img-fluid">
                    </a>
                    <p>Tất xinh nâng niu bàn chân bạn :)</p>
                </div>
            </div>
        </div>
    </div>
</footer>